.app-tags {
  font-family: 'Lato', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  .timeline {
    margin-top: 5px;
  }
  .list-title {
    font-size: 22px;
    position: relative;
    top: -5px;
    .type-name {
      color: #bbb;
      margin-left: 5px;
      text-transform: capitalize;
    }
  }
}
