.post-wrap {
  position: relative;

  .post-header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
    .post-title {
      color: #0d1a26;
      font-size: 1.7em;
      font-weight: 400;
    }
  }
  .tags {
    // position: absolute;
    // top: 0;
    // right: 0;
    margin-top: 10px;
    text-align: right;
    .icon-tags {
      margin-right: 8px;
    }
  }
}
