.article {
  .post-header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
    .post-title {
      color: #0d1a26;
      font-size: 1.7em;
      font-weight: 400;
    }
    .others {
      a {
        color: inherit;
      }
      vertical-align: middle;
      margin-top: 10px;
      color: rgba(0, 0, 0, 0.45);
    }
  }

  .right-navigation {
    position: fixed;
    width: 260px;
    top: 104px;
    right: 20px;
  }

  .article-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
  }

  .comment-wrapper {
    font-family: 'Lato', 'PingFang SC', 'Microsoft YaHei', sans-serif;
    .comment-header {
      padding: 20px 0;
      color: #555;
      font-size: 16px;
      .count {
        color: #6190e8;
        border-bottom: 1px dotted #6190e8;
      }
      .hr {
        margin: 10px 0 0 0;
      }
    }
    .controls {
      float: right;
      .icon-tips {
        margin-right: 6px;
        vertical-align: middle;
        // font-size: 14px;
        color: #6190e8;
        font-weight: bold;
      }
      .support-tip {
        margin-right: 20px;
        color: #6190e8;
      }
    }

    .reply-form {
      overflow: hidden;
      .reply-form-controls {
        float: right;
        padding: 10px 0;
        .tip {
          color: #c2c2c2;
          margin-right: 8px;
          font-size: 13px;
        }
      }
    }

    .ant-comment-inner {
      padding: 6px 0;
    }
    
    .ant-comment-actions {
      margin-top: 0;
    }
    .ant-comment-content-detail p {
      white-space: inherit;
    }
  }
}
