{
  "presets": ["react-app"],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
  ]
}
