.app-container {
  background: #fff;
  .main-wrapper {
    background: #fff;
    padding: 40px 0 0;
    position: relative;
    // .footer {
    //   position: absolute;
    //   display: block;
    //   bottom: 0;
    // }
  }
}
