.tips-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 13px;
  .tips {
    color: #bbb;
  }
  .reset-account {
    color: #2778e9;
    cursor: pointer;
  }
}